* {
    margin: 0;
    padding: 0;
}

body{
    height: 100%;
    width: 100%;
    background-color: #3062A0;
}

#top {
    justify-content: space-between;
    display: flex;
    background-color: rgba(255, 166, 0, 0.904);
    color: white;
    text-align: center;
}

#top .top{
    padding: 2px 5%;
    display: flex;
    /* align-items: center;
    justify-content: space-between; */
}

/* #top .top-two {
    text-decoration: none;
} */

/* #top ul {
    display: none;
} */

#top li {
    display: inline-block;
    padding: 10px;
}

#top li a {
    text-decoration: none;
    color: white;
}

header nav {
    display: flex;
    padding: 11px 5%;
    flex-direction: row;
    /* display: inline-block; */
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.657);
    color: black;
}

header nav a {
    text-decoration: none;
    color: black;
}

header nav ul {
    justify-content: space-evenly;
}

header nav ul li {
    padding-right: 76px;
    list-style-type: none;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    /* display: flex; */
}

header nav ul li button {
    padding-top: 2px;
    cursor: pointer;
    border: none;
    background-color: #B8C9DF;
}

/* header nav:nth-child(2) {
    display: flex;
    justify-content: center;
}

header nav:nth-child(2) ul {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 2%;
    padding-top: 2%;
    background-color: rgba(17, 16, 16, 0.52);
    box-sizing: border-box;
    border: 1px solid rgb(8, 8, 46);
    border-bottom-left-radius: 33px;
    border-bottom-right-radius: 33px;
}

header nav:nth-child(2) ul li {
    display: inline-block;
}

header nav:nth-child(2) ul li a {
    text-decoration: none;
    padding-left: 17px;
    color: white;
}

header nav:nth-child(2) ul .line a {
    color: rgba(255, 166, 0, 0.904);
} */

section .image {
    /* background-image: url("./0x0.jpg"); */
    /* background-size: cover; */
    /* background-repeat: no-repeat; */
    height: 80vh;
    /* background-image: center; */
    text-align: center;
    color: rgb(245, 245, 245);
    /* background-position: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url("./how-to-start-a-construction-company-hero-removebg-preview.png");
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    /* position: absolute; */
}

section div h1 {
    font-size: 50px;
}









